body {
  font-family: "Sora", sans-serif;
  background: linear-gradient(to right, #85B5BE, #DCE4B7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; /* Space for the input box */
}

.input-area {
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}

#blockNumberInput, #generateButton {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* Adjust font size */
}

#generateButton {
  cursor: pointer;
  background-color: #46A6A9;
  color: white;
  border: none;
  transition: background-color 0.3s ease; /* Smooth transition */
}

#generateButton:hover {
  background-color: #f4511e; /* Darker color on hover */
}

.container {
  display: flex;
  flex-direction: column;
}

#statsContainer {
  background: #ffffff00;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 1px 2px 17px 5px rgba(0,0,0,0.26);  margin-bottom: 20px;
}

.intro {
  font-family: 'Roboto', sans-serif; /* Custom font family for intro */
  text-align: center; /* Center-align text */
  max-width: 600px; /* Limit width to improve readability */
  margin: 0 auto; /* Center the element horizontally */
  background-color: #55555500;

}

.intro h1 {
  font-size: 3em; /* Larger font size for the heading */
  color: #333; /* Darker color for heading */
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.intro p {
  margin-bottom: 20px; /* Add some space between paragraphs */
  color: #555; /* Slightly darker color for paragraphs */
}

/* Styling for the link */
a {
  color: white; /* Set link color to white */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition */
}

a:hover {
  color: #ff5722; /* Change color on hover */
}

#generatedImageContainer {
  border-radius: 5px; /* Add border-radius to the generated image container */
  overflow: hidden; /* Ensure that the border-radius is applied to the container */
  margin-bottom: 30px; /* Add margin bottom to create space */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

#generatedImageContainer img {
  display: block; /* Ensure the image is displayed as a block element */
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Add border-radius to the image */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

